button{
    text-align: center;
    color: white;
    line-height: 3rem;
    padding: 0px 1rem;
    background-color: $dark-green;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
}