.card-component{ 
    padding: 20px;   
    background-color: $light-beige;;
    text-align: left;
    max-width: 100%;
    border-radius: 15px;
    img{
       max-width: 100%;
        border-radius: 15px;
    }
    button{
        width: 100%;
    }
    
}
